@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap");

body {
  font-family: "IBM Plex Serif", serif;
  margin: 0;
  padding: 0;
}

div > h1,
h2,
h3,
h4,
h5,
p,
div,
.jumbotron {
  margin-bottom: 0px;
}
